<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Taufan Introduction to WebRTC</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div>
            Video: <select id="camera"></select>
        </div>
        <video autoplay controls></video>

        <script>
            var videoArea = document.querySelector('video');
            var videoSelect = document.querySelector('#camera');

            // MediaStreamTrack.getSources(getCameras); --> this code has deprecated
            // MediaDevices.enumerateDevices(getCameras); --> this code has deprecated
            navigator.mediaDevices.enumerateDevices(getCameras); // not work yet

            videoSelect.onchange = startStream;

            startStream();

            function getCameras(sourceInfos) {
                for (var i = 0; i !== sourceInfos.length; i++) {
                    var sourceInfo = sourceInfos[i];
                    var option = document.createElement('option');
                    option.value = sourceInfo.id;

                    if (sourceInfo.kind === 'video') {
                        option.text = sourceInfo.label || 'camera ' + (videoSelect.length + 1);
                        videoSelect.appendChild(option);
                    }
                }
            }

            function startStream() {
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

                var videoSource = videoSelect.value;

                var constraints = {
                    audio: true,
                    video: {
                        mandatory: {
                            minWidth: 320,
                            maxWidth: 320,
                            minHeight: 240,
                            maxHeight: 240
                        },
                        optional: [{
                            sourceId: videoSource
                        }]
                    }
                };
                navigator.getUserMedia(constraints, onSuccess, onError);
            }

            function onSuccess(stream) {
                console.log('Success! We have a stream!');
                // videoArea.src = window.URL.createObjectURL(stream); --> this code has deprecated
                videoArea.srcObject = stream; // make code like this
                videoArea.className = 'grayscale_filter';
                videoArea.play();
            }

            function onError(error) {
                console.log('Error with getUserMedia: ', error);
            }
        </script>
    </body>
</html>
